/* GENERAL */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    color: #333;
}

h1, h2, h3 {
    margin: 0;
}

.btn {
    background: #f08721;
    color: #fff;
    padding: 12px 24px;
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    border-radius: 6px;
}

.btn-center {
    display: block;
    margin: 30px auto 0 auto;
    width: fit-content;
}

/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    border-bottom: 2px solid #ddd;
    color: black; 

}

.navbar nav {
    display: flex;
    align-items: center;
    gap: 20px; 
}

.navbar ul {
    display: flex;
    list-style: none;
    gap: 20px;
    margin: 0; 
    padding: 0;
}

.nav-links-user {
    display: flex;
    align-items: center;
    gap: 20px;
}

.navbar a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.icon-user {
    margin-left: 20px; 
}

.logo {
    height: 50px;
}

.icon-user {
    height: 35px;
}

/* HERO */
.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 200px; 
    color: black;

}

.hero-text {
    max-width: 50%;
}

.hero-image {
    max-width: 45%;
    object-fit: cover;
}

/* WHY SECTION */
.why {
    background: #f08721;
    color: #fff;
    padding: 100px 30px;
    text-align: center;
}

.why-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    margin-top: 40px;
}

.why-item img {
    height: 70px;
}

/* FORMAÇÕES */
.formacoes {
    background: url('../imagens/Fundo.png') center/cover no-repeat;
    padding: 100px 50px;
}

.formacoes-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-top: 40px;
}

.card {
    background: #f08721;
    padding: 40px;
    border-radius: 8px;
    color: white;
    text-align: center;
}

.card img {
    height: 70px;
}

/* SOBRE */
.sobre {
    background: #f08721;
    color: #fff;
    padding: 90px 80px;
    text-align: center;
}

/* CONTACTOS */
.contactos {
    padding: 60px 20px;
    text-align: center;
}

.contact-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    max-width: 800px;
    margin: 40px auto;
}

.contact-item img {
    height: 25px;
    margin-right: 10px;
    vertical-align: middle;
}

/* FOOTER */
.footer {
    background: #f08721;
    color: #fff;
    text-align: center;
    padding: 20px;
}
